RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php
#php_flag display_errors On
RewriteRule ^inicio.php$ views/inicio.php [L]
RewriteRule ^actividades.php views/cat_act/actividades.php [L]
RewriteRule ^captura.php$ views/cat_act/captura.php [L]
RewriteRule ^contratos.php$ views/cat_act/contratos.php [L]
RewriteRule ^moneda.php$ views/cat_act/moneda.php [L]
RewriteRule ^motivos_tm.php$ views/cat_act/motivos_tm.php [L]
RewriteRule ^rate.php$ views/cat_act/rate.php [L]
RewriteRule ^tregistro.php$ views/cat_act/tregistro.php [L]
RewriteRule ^turno.php$ views/cat_act/turno.php [L]
